@charset "UTF-8";


main {
    background-color:rgb(217, 234, 245);
    width:350px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 5px rgba(91, 177, 235, 0.438);
    height: 950px;

    }

body{
    background-color: rgb(55, 109, 146);
}
    
h1 {
    text-shadow: 1px 3px 1px rgb(241, 248, 248);
    color: rgb(8, 43, 8);
    text-align: center;
}

h2 {
    color: rgb(8, 43, 8);
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}